*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#64748B;
    --text-color:#0F172A;   
    --light-bg-color:#f1f7ff;
    --lightest-bg-color:#f7f8f8;   
    --btn-text-color:#07796f;
    --hover-color:#e2e8f0;    
    --badge-bg-color:#a1a1aa;
}
body{
    background-color: var(--lightest-bg-color);
    font-family: 'Dongle', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    font-size: 62.5%;
    color: var(--text-color);
}
.divider{
    /* height: 6rem; */
    font-size: 1.5rem;   
    word-wrap: break-word;
    display: block;
    padding: 1rem;
}
.divider h1{
    margin-right: 0 auto;
    justify-self:center;
    padding: 1rem;
}
/* card  */
.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.__card-basic{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 35rem;
    width: 30rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    margin: 1rem;
}

.__card-basic-img img{
    border-radius: 1rem 1rem 0 0;
    height: 18rem;
    width: 100%;
    object-fit: cover;
}

.__card-content{
    display: flex;
    height: 40%;
    justify-content: space-around;
    flex-flow: column;
    padding: 1rem;
    background-color: var(--lightest-bg-color);
    font-size: 1.5rem;
}
.__card-basic-actionbar{
    display: flex;
    height: 10%;
    padding:0.3rem;
    margin: 0.5rem;
}
.__card-basic-content-view{
    display: flex;
    flex-grow: 4;
    justify-content: space-evenly;
}


.__card-basic-desc{
    font-size: 1.3rem;
    padding: 0.5 0rem;
}
.__card-basic-content-view button{
    border:none;
    background-color: white;
    color: var(--btn-text-color);
    font-weight: 700;
    justify-content: center;
}
.__card-basic-content-action{
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
}
.__card-basic-actionbar > .__card-basic-btn-bm:hover,span:hover{
    background-color: var(--light-bg-color );
    border-radius: 50%;

    cursor: pointer;
}
.__card-basic-actionbar *{
    padding: 0.2rem;
}
.__card-basic-content-view button:hover{
    background-color: var(--light-bg-color  );
    cursor: pointer;
}

/* text-ver media */

.__card-tom-img img{
    position: relative;
    border-radius: 1rem 1rem 0 0;
    height: 23rem;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
}
.__card-tom-author{
    position: absolute;
    top: 16rem;
    color: var(--text-color);
}


.__card-tom{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 35rem;
    width: 30rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    margin: 1rem;
    position: relative;
}

/* basic with header */
.__card-bh-author{
    padding: 0.7rem;
}

.__card-bh-img img{
    position: relative;
    height: 18rem;
    width: 100%;
    object-fit: cover;
}


/* basic wihtout action bar */
.__card-bwb-content-action{
    display: none;
}


/* basic without icons */

.__card-bwi-content-view{
    display: none;
}
.__card-content-hit{
    display: flex;
    height: 75%;
    justify-content: space-around;
    flex-flow: row;
    /* padding: 1rem; */
    background-color: var(--lightest-bg-color);
    font-size: 1.5rem;
}

.__card-hit{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 20rem;
    width: 30rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    margin: 1rem;
    gap: 1rem;
}

.__card-hit-img img{
    position: relative;
    height: 100%;
    width: 120%;
    border-radius: 0.7rem 0 0 0;
    object-fit: cover;
}
.__card-hit-actionbar{ display: flex;
    height: 15%;
    padding:0.5rem;
    margin: 0.5rem;
}
.__card-hit-author{
    padding: 1rem 1rem 1rem 3rem;
}


