.__nav-bunch{
    display: flex;
    flex-wrap: wrap;
}
.__nav-dummy-bunch{
    /* height: 30rem; */
    width: 45%;
    /* padding: 1rem; */
    
    
    position: relative;
    margin: 1rem;
}
.__nav-header{
    /* height: 4rem; */
    background-color: var(--hover-color);
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.__nav-dummy-content{
    height: 20rem;
    overflow: scroll;
    font-size: 1.5rem;
    
    scroll-behavior: smooth;
}

.__navbar-body{
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
}

.__navbar-items{
    display: block;
    padding: 6px;
}

.__navbar-title{
    padding: 6px;
    flex-grow: 1;
    font-weight: 800;
}

.navbar-toggle-icon {
    padding: 6px;
}

.__navbar-fixed{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.__navar-collpased{
    position: absolute;
}

