
/* snakbar */
.__snackbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.__snackbar_baseline{
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 1rem;
    margin: 1rem;
    width: 40%;
    border-radius: 0.5rem;
    display: none;
}
.__sanckbar_action{
    background-color: var(--bg-color);
    color: var(--hover-color);
    border: none;
    /* margin: 1rem; */
    margin: 0 1rem;
    font-weight: 800;
    cursor: pointer;
}

.__snackbar_left{
    position: fixed;
    bottom: 20px;
    left: 10px;
    display: flex; 
    justify-content: space-between;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 1rem;
    margin: 1rem;
    width: 40%;
    border-radius: 0.5rem;
    display: none;
}

.__snackbar_stacked{
    position: fixed;
    bottom: 20px;
    /* left: 10px; */
    display: flex;
    /* justify-content: flex-start; */
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 1rem;
    margin: 1rem;
    width: 40%;
    border-radius: 0.5rem;
    flex-flow: column;
    display: none;
}

.__snack-btn-container{
    margin: 1rem 0 0 70%;
    position: relative;

}

.retry-btn-clr{
    color: #67E8F9;
}